*[rend~="color:red"]{
    color: red;
}

*[rend~="color:blue"]{
    color: blue;
}

*[rend~="color:gold"]{
    color: gold;
}

c {
	-oxy-display-tags: none;
	-oxy-placeholder-content: "-";
}

cb {
    content: "cb";
    -oxy-append-content: oxy_attributes(); 
}

choice {
    -oxy-display-tags: none;
}

del {
	text-decoration: line-through;
	-oxy-display-tags: none;
}

div {
    font-size: xx-small;
    padding: 0em;
    margin: 0em;
}

head{
    display: block;
    font-size: large;
}

hi{
    	-oxy-display-tags: none;
    	background-color: white;
    	/*border-top: solid 10px;
    	padding-top: 0.5px;
    	border-color: red;*/
}

hi[rend~="color:red"][rend~="decoration"]{
    text-decoration: underline;
    text-decoration-color: red;
    color: black;
}
hi[rend~="color:blue"][rend~="decoration"]{
    text-decoration: underline;
    text-decoration-color: blue;
    color: black;
}
hi[rend~="initial"]{
    font-weight: bold;
    font-size: xx-large;
}

l {
    /*-oxy-placeholder-content: "line";*/
    /*-oxy-display-tags:  ;*/
    content: attr(n)"-";
    /*font-size: 1.5em;*/
    font-size: large;
    display: block;
    /*-oxy-editable: false;*/
    /*-oxy-foldable:true;*/
}

l[rend~="indent"]{
    margin-left: 20px;    
}

lb {
    font-size: small;
    content: "("attr(n)")";
    -oxy-display-tags: none;
}

lg{
    margin: 3px;
    font-size: small;
    -oxy-prepend-content: "lg";
    padding: 0px;
}

mod[type=phase]{
    font-size: small;
    -oxy-prepend-content: "[";
}


p{
    font-size: large;
    display: block;
}

pb {
    content: "pb";
    -oxy-append-content: oxy_attributes(); 
}


w {
    background-color: white;
    -oxy-show-placeholder: always;
    -oxy-placeholder-content: "w";
    -oxy-display-tags: none;
    display: inline;
/*    -oxy-append-content: " ";
*/    -oxy-prepend-content: " ";
    -oxy-editable: true;
    /*font-size: 1.5em;	*/
}

w[join~="left"] {
    -oxy-prepend-content: '–';
}
