*[rend~="color:red"]{
    color: red;
}

*[rend~="color:blue"]{
    color: blue;
}

*[rend~="color:gold"]{
    color: gold;
}

add[place~='above']{
    position:relative;
    top: -0.5em;
    font-size: 80%;
}

c {
	-oxy-display-tags: none;
	-oxy-placeholder-content: "-";
}

cb {
    content: "cb";
    -oxy-append-content: oxy_attributes(); 
}

choice {
    -oxy-display-tags: none;
}

del {
	text-decoration: line-through;
	-oxy-display-tags: none;
}

div {
    font-size: xx-small;
    padding: 0em;
    margin: 0em;
}

head{
    display: block;
    font-size: large;
}

hi{
    	-oxy-display-tags: none;
    	background-color: white;
    	/*border-top: solid 10px;
    	padding-top: 0.5px;
    	border-color: red;*/
}

hi[rend~="color:red"][rend~="decoration"]{
    text-decoration: underline;
    text-decoration-color: red;
    color: black;
}
hi[rend~="color:blue"][rend~="decoration"]{
    text-decoration: underline;
    text-decoration-color: blue;
    color: black;
}
hi[rend~="initial"]{
    font-weight: bold;
    font-size: xx-large;
}

l {
    content: attr(n)"-";
    font-size: large;
    display: block;
}

l[rend~="indent"]{
    margin-left: 20px;    
}

lb {
    font-size: small;
    content: "("attr(n)")";
    -oxy-display-tags: none;
}

lg{
    margin-left: 15px;
    font-size: small;
    -oxy-prepend-content: "lg";
    padding: 0px;
}

mod[type=phase]{
    font-size: small;
    -oxy-prepend-content: "[";
}


p{
    font-size: large;
    display: block;
}

pb {
    content: "pb";
    -oxy-append-content: oxy_attributes(); 
}

teiHeader{
    visibility:-oxy-collapse-text;
    -oxy-display-tags: none;
}

titleStmt > title:first-child {
    visibility: visible;
    display: block;
    font-size: large;
    font: bold;
}

w {
    background-color: white;
    -oxy-show-placeholder: always;
    -oxy-placeholder-content: "w";
    -oxy-display-tags: none;
    display: inline;
    -oxy-prepend-content: " ";
    -oxy-editable: true;
}

w[join~="left"] {
    -oxy-prepend-content: '–';
}

