@namespace oxy url('http://www.oxygenxml.com/extensions/author');



oxy|document{
    background-position:top;
    background-color:#dde8f5;
}

oxy|comment{
    display:none !important;
}


* {
    display: block;

}

TEI {
    padding:10px;
    padding-left: 20px;
    font-family:Verdana, Helvetica, Arial, sans-serif;
    font-size:0.8em;
    line-height:120%;
    margin: 2px;
    width: 900px;
}

titleStmt {
     background-color:#D3D3D3;
     padding: 2em;
     -oxy-editable: false;
}

title {
    content:
        oxy_textfield(
            edit, "#text",
            fontInherit, true,
            columns, 30);
      visibility: -oxy-collapse-text;
      font-size: x-large;
      -oxy-editable: true;  
      
}


publicationStmt, editor, editor persName, sponsor {
    display: none;
}

msIdentifier {
    background-color:#D3D3D3;
    -oxy-editable: false;
    content: oxy_label(text, "Manuscript Identification", styles, "font-size: large");
    
    padding-top: 10px;
    padding-left: 5px;
}

settlement {
    margin-top: 5px;
    content:
    oxy_label(text, "Settlement: ", width, 10em, text-align, left)
    oxy_textfield(
            edit, "#text",
            fontInherit, true,
            columns, 30);
      visibility: -oxy-collapse-text;
      -oxy-editable: true;
}

repository {
    content: 
    oxy_label(text, "Repository: ", width, 10em, text-align, left)
    oxy_textfield(
            edit, "#text",
            fontInherit, true,
            columns, 30);
      visibility: -oxy-collapse-text;
      -oxy-editable: true;
}

msIdentifier idno {
    content: 
        oxy_label(text, "Number: ", width, 10em, text-align, left) 
        oxy_textfield(
            edit, "#text",
            fontInherit, true,
            columns, 30);
      visibility: -oxy-collapse-text;
      -oxy-editable: true;
}

altIdentifier[ana~="#ChLA"]  idno{
    content:
        oxy_label(text, "ChLA Number: ", width, 10em, text-align, left) 
        oxy_textfield(
            edit, "#text",
            fontInherit, true,
            columns, 30);
      visibility: -oxy-collapse-text;
      -oxy-editable: true;
}

altIdentifier[ana~="#Brune"]  idno{
    content:
        oxy_label(text, "Brune Number: ", width, 10em, text-align, left) 
        oxy_textfield(
            edit, "#text",
            fontInherit, true,
            columns, 30);
      visibility: -oxy-collapse-text;
      -oxy-editable: true;
      
      padding-bottom: 5px;
}

physDesc {
    padding-top: 15px;
    padding-left: 5px;
    border-top: 8px solid #dde8f5;
    background-color:#D3D3D3;
    
    -oxy-editable: false;
    content:
        oxy_label(text, "Manuscript Physical Description", styles, "font-size: large");
}






text {
    background-color: white;
}

w, orig, choice, reg, sic, corr, pc {
    display: inline;
    -oxy-display-tags: none;
}

lb {
    display: block;
/*    line-height: 0px;*/
/*    font-size: 1px;*/
    margin: 0px;
    padding: 0px;
    
}


w lb {
    display: inline;
    -oxy-prepend-content: " / "
}

w {
    -oxy-prepend-content: " "
}